/* Font */
html {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

/* ------------------- nav_GNB (상단고정) ------------------- */
#nav {
  width: 100%;
  height: 55px;
  display: flex;

  justify-content: space-between;
  position: fixed;
  top: 20px;
  left: 0;
  z-index: 999;

  background-color: #1c1c1c;
  color: #fff;
  text-align: center;
}

#nav > p {
  font-size: 13px;
  font-weight: 400;
  color: #fb6030;
  line-height: 55px;
  margin: 0 40px;
}

#nav > ul {
  display: flex;
  gap: 100px;
  padding: 10px;
}

#nav > ul > li {
  width: 150px;
}

#nav > ul > li > a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  letter-spacing: 0.7px;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid transparent;

  line-height: 2em;
  padding: 0 15px;
}

#nav > ul > li > a:hover {
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4), 0px 3px 0px rgba(255, 255, 255, 0.081);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-shadow: -2px 1px 0px rgba(0, 0, 0, 0.7), 0px 0px 10px rgba(255, 255, 255, 0.526);
}

/* nav 상단 컨텐츠 숨기기 위해서 추가한 가상요소 */
#nav::before {
  content: "";
  background-color: #fff;
  width: 97%;
  height: 20px;
  
  position: absolute;
  top: -20px;
  left: 25px;
}

/* ------------------- nav_LNB ------------------- */
/* .portfolio_sub = LNB <ul> */
.portfolio_sub {
  display: flex;
  opacity: 0;
  visibility: hidden;
  /* gap: 25px; */
  padding: 7px;
  width: calc(130px * 4);

  margin-top: 4px;
  margin-left: -190px;

  transition: all 0.3s ease;
}

.portfolio_sub > li {
  width: 130px;
  background-color: rgba(251, 96, 48, 0.9);
}

.portfolio_sub > li > a {
  display: block;
  width: 100%;
  text-decoration: none;
  color:#1c1c1c ;
  font-weight: 500;
  letter-spacing: 0.7px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid transparent;

  line-height: 2.1em;
  padding: 0 15px;
}

.portfolio_sub > li:nth-child(1) {
  border-radius: 20px 0 0 20px;
}

.portfolio_sub > li:nth-child(4) {
  border-radius: 0 20px 20px 0;
}

.portfolio_sub > li > a:hover {
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.775), 0px 3px 0px rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  /* border: 1px solid rgba(251, 96, 48, 0.2); */
  text-shadow: -2px 1px 0px rgba(0, 0, 0, 0.1s), 0px 0px 10px;
  color: #fff;
}

.portfolio_menu:hover .portfolio_sub {
  opacity: 1;
  visibility: visible;
}

/* ------------------- page 01 ------------------- */
#container {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);

  color: #1c1c1c;
}

/* GET IN TOUCH */
#container > h1 {
  width: 1150px;
  font-size: 150px;
  font-weight: 600;
}

#container > h1 span {
  opacity: 0;
  display: inline-block;
  transition: opacity 0.5s ease-in-out;
}

#container > h1:hover {
  cursor: url('../images/contactMe_cursor-08.png') 2 2, auto;
}

/* odb0522@naver.com */
#container > div:nth-child(2) > a {
  display: block;
  text-decoration: none;
  color: #1c1c1c;
  
  font-size: 60px;
  font-weight: 400;

  position: relative;

  margin-top: 20px;
}

#container > div:nth-child(2) > a::after {
  content: "";
  background-color: #1c1c1c;
  width: 575px;
  height: 1.5px;
  
  position: absolute;
  bottom: -1px;
  left: 0px;
}

/* Info */
#container > div:nth-child(3) {
  margin-top: 60px;
  font-size: 28px;
  font-weight: 400;
}

#container > div:nth-child(3) > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 40px 0 20px 0;
}

/* 6개 항목 */
#container > div:nth-child(3) > ul > li {
  flex: 0 0 calc(33.333% - 15px);
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 300;
}

#container > div:nth-child(3) > ul > li:nth-child(2), #container > div:nth-child(3) > ul > li:nth-child(3), #container > div:nth-child(3) > ul > li:nth-child(5), #container > div:nth-child(3) > ul > li:nth-child(6) {
  margin-left: -150px;
}

/* 인스타그램, 블로그 링크 */
#container > div:nth-child(3) > ul > li > a {
  color: #fb6030;
}

/* 인스타그램, 블로그 링크 계속 같은 컬러로 유지 */
a:link,
a:visited,
a:hover,
a:active {
  color: #fb6030;
}

#kakaoTalk_qr {
  position:fixed;
  right: 5%;
  bottom: 5%;

  font-size: 18px;
  text-align: center;
}

#kakaoTalk_qr > ul > li > img { 
  width: 120px;
}

#kakaoTalk_qr > ul > li:nth-child(3) {
  margin-top: -3px;
}

#kakaoTalk_qr > ul:hover {
  cursor: url('../images/contactMe_cursor-08.png') 2 2, auto;
}


