/* Font */
html {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;

  /* -ms-overflow-style: none; */
}

::-webkit-scrollbar {
  display: none;
}

/* ------------------- .Allpage (각 페이지) ------------------- */
.Allpage_right, .Allpage_left {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

/* 좌우 테두리 */
.Allpage_right::after {
  content: "";
  position: absolute;
  top: 0;
  right: 30px;
  bottom: 0;

  border-right: 1px solid #1c1c1c;
}

.Allpage_left::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 30px;

  border-left: 1px solid #1c1c1c;
}

/* 하단 우측 고정 -> 페이지 상단으로 이동 버튼 */
.mark {
  width: 80px;
  height: 80px;
  
  position: fixed;
  right: 45px;
  bottom: 20px;

  background-image: url(../images/mark.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  cursor: pointer;
}

/* ------------------- nav_GNB (상단고정) ------------------- */
#nav {
  width: 100%;
  height: 55px;
  display: flex;

  justify-content: space-between;
  position: fixed;
  top: 20px;
  left: 0;
  z-index: 999;

  background-color: #1c1c1c;
  color: #fff;
  text-align: center;
}

#nav > p {
  font-size: 13px;
  font-weight: 400;
  color: #fb6030;
  line-height: 55px;
  margin: 0 40px;
}

#nav > ul {
  display: flex;
  gap: 100px;
  padding: 10px;
}

#nav > ul > li {
  width: 150px;
}

#nav > ul > li > a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  letter-spacing: 0.7px;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid transparent;

  line-height: 2em;
  padding: 0 15px;
}

#nav > ul > li > a:hover {
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.4), 0px 3px 0px rgba(255, 255, 255, 0.081);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-shadow: -2px 1px 0px rgba(0, 0, 0, 0.7), 0px 0px 10px rgba(255, 255, 255, 0.526);
}

/* nav 상단 컨텐츠 숨기기 위해서 추가한 가상요소 */
#nav::before {
  content: "";
  background-color: #fff;
  width: 97%;
  height: 20px;
  
  position: absolute;
  top: -20px;
  left: 25px;
}

/* 페이지 container  -> 고정된 사이즈 */
.container {
  width: 1650px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
}

/* ------------------- nav_LNB ------------------- */
/* .portfolio_sub = LNB <ul> */
.portfolio_sub {
  display: flex;
  opacity: 0;
  visibility: hidden;
  /* gap: 25px; */
  padding: 7px;
  width: calc(130px * 4);

  margin-top: 4px;
  margin-left: -190px;

  transition: all 0.3s ease;
}

.portfolio_sub > li {
  width: 130px;
  background-color: rgba(251, 96, 48, 0.9);
}

.portfolio_sub > li > a {
  display: block;
  width: 100%;
  text-decoration: none;
  color:#1c1c1c ;
  font-weight: 500;
  letter-spacing: 0.7px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid transparent;

  line-height: 2.1em;
  padding: 0 15px;
}

.portfolio_sub > li:nth-child(1) {
  border-radius: 20px 0 0 20px;
}

.portfolio_sub > li:nth-child(4) {
  border-radius: 0 20px 20px 0;
}

.portfolio_sub > li > a:hover {
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.775), 0px 3px 0px rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  /* border: 1px solid rgba(251, 96, 48, 0.2); */
  text-shadow: -2px 1px 0px rgba(0, 0, 0, 0.1s), 0px 0px 10px;
  color: #fff;
}

.portfolio_menu:hover .portfolio_sub {
  opacity: 1;
  visibility: visible;
}

/* ------------------- page 01 ------------------- */
/* p1_동작 #01 */
#p1_motion01 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding-top: 50px;

  /* display: none; */
}

#p1_motion01 > ul > li {
  text-align: center;
  font-size: 70px;
  font-weight: 800;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

  margin-bottom: 130px;
}

@keyframes textUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

#p1_motion01 > ul > li:nth-child(1) {
  animation: textUp 0.8s ease forwards;
}

#p1_motion01 > ul > li:nth-child(2) {
  animation: textUp 0.8s ease forwards;
  animation-delay: 0.5s;
}

#p1_motion01 > ul > li:nth-child(3) {
  animation: textUp 0.8s ease forwards;
  animation-delay: 1s;
}

/* p1_동작 #01에 나타나는 도형 스타일 미리 설정 */
/* orageCircle */
.orangeCircle {
  width: 15px;
  height: 30px;
  background-color: #fb6030;
  border-radius: 50%;

  position: absolute;
  top: 0;
  left: 84px;
  z-index: 1;
}

/* orageLine */
.orangeLine {
  width: 0px;
  height: 1.5px;
  background-color: #fb6030;

  position: absolute;
  top: 290px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* -------------------------- */
/* orangeFace */
.orangeFace {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 1650px;
  height: 0;
  background-color: #fb6030;

  z-index: 1;
}

/* p1_동작 #02 */
#p1_motion02 {
  width: 100%;
  height: 100%;

  text-align: center;
  position: relative;
}

#p1_motion02 > div:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 1200px;
}

#p1_motion02 > div > div:first-child > p {
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 15px;

  opacity: 0;
  position: relative;
  top: 10%;
}

#p1_motion02 > div > div:first-child > p > strong {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 9px;
}

#p1_motion02 > div:first-child > h1 {
  font-size: 140px;
  font-weight: 800;
  letter-spacing: 10px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

  margin: 55px 0 250px;

  opacity: 0;
  position: relative;
  top: 10%;
}

#p1_motion02 > div:first-child > ul {
  display: flex;
  justify-content: center;
  gap: 25px;

  opacity: 0;
  position: relative;
  top: 10%;
}


#p1_motion02 > div:first-child > ul > li {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  border-right: 1px solid #1c1c1c;
  padding-right: 30px;
}

#p1_motion02 > div:first-child > ul > li:last-child {
  border: none;
  padding: 0;
}

/* p1_동작 #02 */
.orangeSmallCircle {
  width: 10px;
  height: 10px;
  background-color: #fb6030;
  border-radius: 50%;

  position: absolute;
  top: 46.6%;
  left: 64.95%;
  z-index: 2;

  opacity: 1;
}

.orangeThinLine {
  width: 2px;
  height: 0px;
  background-color: #fb6030;

  position: absolute;
  top: 48.8%;
  left: 65.2%;
  z-index: 2;

  opacity: 1;
}

.orangeRectangle {
  width: 0px;
  height: 60px;
  background-color: #fb6030;

  position: absolute;
  top: 56.5%;
  right: 34.7%;
  z-index: 2;

  transform: translateY(50%);
  opacity: 1;

  background-image: url(../images/mouse_icon.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

/* ------------------- page 02 ------------------- */
#container_p2 {
  width: 1400px;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: skyblue; */
}

/* 상단 제목 */
#p2_title {
  display: flex;
  justify-content: center;
  gap: 50px;

  position: relative;
}

.titleLineLeft {
  width: 700px;
  height: 1px;
  background-color: #1c1c1c;

  position: absolute;
  top: 155px;
  right: 0;
}

.titleLineRight {
  width: 700px;
  height: 1px;
  background-color: #1c1c1c;

  position: absolute;
  top: 155px;
  left: 0;
}

#p2_title > div > h1 {
  font-size: 100px;
  font-weight: 800;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  letter-spacing: 9px;
  margin-bottom: 10px;
}

#p2_title > div:first-child > h1 {
  position: relative;
  letter-spacing: 7px;
}

#title_left {
  position: relative;
  left: 0;
  transition-duration: 500ms;
}

#title_right {
  position: relative;
  right: 0;
  transition-duration: 500ms;
}

#p2_title > div > h3 {
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 15px;
  text-align: center;
}

/* 옷핀 */
.pin {
  content: "";
  background-image: url("../images/01_ohdabinn_pin.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 180px;
  height: 100px;
  
  position: absolute;
  top: -38px;
  left: -57px;
  transform: rotate(2deg);
}

/* 하단 컨텐츠 */
#p2_contents {
  display: flex;
  justify-content: center;
  padding: 40px 0 0;
}

#middle_contents{
  width: 400px;
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.left_contents, .right_contents {
  width: 500px;
}

#p2_contents > div:nth-child(odd) > div {
  display: flex;
}

.left_contents {
  text-align: right;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  height: 220px;
  position: relative;
  left: 0;
}

.right_contents {
  text-align: left;
  gap: 20px;
  align-items: center;
  height: 220px;
  position: relative;
  right: 0;
}

.left_contents > div, .right_contents > div {
  position: relative;
  transition-duration: 500ms;
}

.left_contents:first-child, .right_contents:first-child {
  margin-bottom: 50px;
}

.left_contents > div > img, .right_contents > div > img {
  width: 160px;
}

.left_contents > div > img {
  border-radius: 0 0 0 15px;
}

.right_contents > div > img {
  border-radius: 0 15px 0 0 ;
}

/* 중심 이미지 */
#middle_contents > img:nth-child(1) {
  object-fit: scale-down;
  width: 200px;
}

#middle_contents > img:nth-child(2) {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 410px;

  z-index: 3;

  /* 동작 후 나타날 이미지이므로 숨겨둔다 ! */
  opacity: 0;
}

.left_contents > div > h4, .right_contents > div > h4 {
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.left_contents > div > ul > li, .right_contents > div > ul > li {
  font-size: 15px;
  letter-spacing: 1.5px;
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 1.2em;
}

.strong {
  font-weight: 500;
}

#margin-text {
  font-size: 10px;
  margin-left: 5px;
}

.middleLineBottom {
  position: absolute;
  bottom: 20px;
  left: 80px;
  width: 240px;
  height: 1px;
  background-color: #1c1c1c;
  z-index: 1;
  transition-duration: 300ms;
}

.middleLineLeft {
  position: absolute;
  top: 8px;
  left: 59px;
  width: 1px;
  height: 500px;
  background-color: #1c1c1c;
  transition-duration: 300ms;


  z-index: 3;
}

.middleLineRight {
  position: absolute;
  top: 8px;
  right: 60px;
  width: 1px;
  height: 500px;
  background-color: #1c1c1c;
  transition-duration: 300ms;


  z-index: 3;
}

#title_left.on01 {
  left: -420px;
}

.titleLineLeft.on02 {
  width: 0;
  transition-duration: 1000ms;
}

.on03 {
  left: -145px;
  text-align: left;
  transition-duration: 500ms;
}

.on04 {
  left: -50px;
  text-align: left;
  transition-duration: 500ms;
}

.on05 {
  opacity: 0;
  transition-duration: 500ms;
}

#title_right.on06 {
  right: -420px;
  transition-duration: 500ms;
}

.titleLineRight.on07 {
  width: 0;
  transition-duration: 1000ms;
}

.on08 {
  right: -100px;
  text-align: right;
  transition-duration: 500ms;
}

.on09_1 {
  opacity: 0;
  transition-duration: 650ms;
}

.on09_2 {
  opacity: 0;
  transition-duration: 650ms;
}

.middleLineLeft.on10 {
  top: -230px;
  left: -100px;
  height: 750px;
  transition-duration: 300ms;
}

.middleLineRight.on11 {
  top: -230px;
  right: -100px;
  height: 750px;
  transition-duration: 300ms;
}

.middleLineBottom.on12 {
  opacity: 0;
}

#middle_contents > img:nth-child(1).on13 {
  opacity: 0;
  transition-duration: 800ms;
}

#middle_contents > img:nth-child(2).on14 {
  opacity: 1;
  z-index: 3;
  transition-duration: 2000ms;
}

/* ------------------- page 03 ------------------- */
/* text */
#p3_title {
  position: absolute;
  top: 47%;
  left: 17%;
}

#p3_title > h1 {
  font-size: 100px;
  font-weight: 800;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  line-height: 0.9;
  letter-spacing: 3px;

  position: relative;
  z-index: 2;
}

#p3_contents_01, #p3_contents_02, #p3_contents_02_motion {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.8;
}

#p3_contents_01 {
  position: absolute;
  left: 19%;
  bottom: 3%;
  text-align: left;
}

#p3_contents_02 {
  position: absolute;
  right: 19%;
  bottom: 3%;
  text-align: right;
  /* display: none; */
}

#p3_contents_02_motion {
  position: absolute;
  bottom: 0.5%;
  right: 8%;
  text-align: right;
  opacity: 0;
}

#p3_contents_01 > strong, #p3_contents_02 > strong, #p3_contents_02_motion > p > strong {
  font-size: 18px;
  font-weight: 500;
  vertical-align: bottom;
  letter-spacing: 1px;
}

#p3_contents_02_motion > p {
  margin-bottom: 18px;
}

/* 폴라로이드 이미지 */
#polar_photo {
  width: 100%;
  height: 100%;
}

#polar_photo > li:nth-child(1) {
  position: absolute;
  top: 240px;
  left: 0;
}

#polar_photo > li:nth-child(1) > img {
  width: 170px;
}

#polar_photo > li:nth-child(2) {
  position: absolute;
  top: 20px;
  left: 265px;
}

#polar_photo > li:nth-child(2) > img {
  width: 215px;
}

#polar_photo > li:nth-child(3) {
  position: absolute;
  top: 160px;
  left: 595px;
}

#polar_photo > li:nth-child(3) > img {
  width: 335px;
}

#polar_photo > li:nth-child(4) {
  position: absolute;
  top: 220px;
  right: 295px;
}

#polar_photo > li:nth-child(4) > img {
  width: 300px;
}

#polar_photo > li:nth-child(5) {
  position: absolute;
  top: 80px;
  right: 0;
}

#polar_photo > li:nth-child(5) > img {
  width: 180px;
}

/* Tape */
#p3_title::after {
  content: "";
  background-image: url('../images/01_ohdabinn_blueTape.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 96px;
  height: 92px;
  position: absolute;
  top: 19.5%;
  left: 84%;
  z-index: 1;
}

/* 라인 */
.p3Line01 {
  position: absolute;
  top: 5px;
  right: 1275px;
  width: 0;
  height: 1px;
  background-color: #1c1c1c;

  z-index: 3;
}

.p3Line_on01 {
  width: 180px;
  transition-duration: 500ms;
}

.p3Line02 {
  position: absolute;
  top: 5px;
  left: 195px;
  width: 1px;
  height: 0;
  background-color: #1c1c1c;

  z-index: 3;
}

.p3Line_on02 {
  height: 373px;
  transition-duration: 500ms;
}

.p3Line03 {
  position: absolute;
  top: 377px;
  left: 195px;
  width: 0;
  height: 1px;
  background-color: #1c1c1c;

  z-index: 3;
}

.p3Line_on03 {
  width: 250px;
  transition-duration: 500ms;
}

.p3Line04 {
  position: absolute;
  top: 378px;
  left: 264px;
  width: 1px;
  height: 0;
  background-color: #1c1c1c;

  z-index: 3;
}

.p3Line_on04 {
  height: 181px;
  transition-duration: 500ms;
}

.p3Line05 {
  position: absolute;
  top: 558px;
  right: 265px;
  width: 0;
  height: 1px;
  background-color: #1c1c1c;

  z-index: 3;
}

.p3Line_on05 {
  width: 1121px;
  transition-duration: 500ms;
}

.p3Line06 {
  position: absolute;
  top: 465px;
  right: 751px;
  width: 0;
  height: 1px;
  background-color: #1c1c1c;

  z-index: 3;
}

.p3Line_on06 {
  width: 276px;
  transition-duration: 500ms;
}

.p3Line07 {
  position: absolute;
  bottom: 36px;
  right: 751px;
  width: 1px;
  height: 0;
  background-color: #1c1c1c;

  z-index: 3;
}

.p3Line_on07 {
  height: 299px;
  transition-duration: 500ms;
}

.p3Line08 {
  position: absolute;
  top: 763px;
  right: 671px;
  width: 0px;
  height: 1px;
  background-color: #1c1c1c;

  z-index: 3;
}

.p3Line_on08 {
  width: 80px;
  transition-duration: 500ms;
}

.p3Line09 {
  position: absolute;
  top: 419px;
  right: 265px;
  width: 1px;
  height: 0;
  background-color: #1c1c1c;

  z-index: 3;
}

.p3Line_on09 {
  height: 140px;
  transition-duration: 500ms;
}

/* ------------------- footer ------------------- */
#footer {
  width: 100%;
  height: 400px;
  background-color: #1c1c1c;
  color: #fff;
  position: relative;
}

#ft_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ft_container > img {
  display: block;
  padding-bottom: 20px;
}

#info_container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

#info_container > div > h4 {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 15px;
  letter-spacing: 1.5px;
}

#info_container > div > ul > li {
  text-decoration: none;
  font-size: 15px;
  font-weight: 200;
  line-height: 1.6;
  letter-spacing: 1px;
}

#info_container > div:first-child > ul > li {
  text-decoration: none;
  font-size: 13px;
  font-weight: 100;
  line-height: 1.6;
  letter-spacing: 3px;
}

#info_container > div > ul > li > a {
  text-decoration: none;
  color: #fff;
}

#info_container > div:nth-child(2) {
  text-align: right;
}

#info_container > div:nth-child(2) > ul > li > span {
  margin-left: 10px;
  text-align: right;
}

#info_container > div:nth-child(2) > ul > li:nth-child(3) > span {
  margin-right: 1px;
}

#footer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 180px;
  left: 0;
  border-bottom: 1px solid #fff;
}